* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    font-family: 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    -webkit-user-select: none;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

@media only screen and (width: 1440px) {
    html, body{ font-size: 20px; }
}

@media only screen and (width: 768px) {
    html, body{ font-size: 10.6667px; }
}

@media only screen and (width: 720px) {
    html, body{ font-size: 10px; }
}

@media only screen and (width: 600px) {
    html, body{ font-size: 8.3333px; }
}

/*
@media only screen and (max-width: 1920px) and (min-width: 720px) { html, body{ font-size: 20px }.viewport{max-width: 720px;}}
@media only screen and (max-width: 719px) and (min-width:690px) { html, body{ font-size: 19.4444px; }.viewport{max-width: 700px;}}
@media only screen and (max-width: 689px) and (min-width:660px) { html, body{ font-size: 18.6331px; }.viewport{max-width: 689px;}}
@media only screen and (max-width: 659px) and (min-width:630px) { html, body{ font-size: 17.8217px; }.viewport{max-width: 659px;}}
@media only screen and (max-width: 629px) and (min-width:600px) { html, body{ font-size: 17.0103px; }.viewport{max-width: 629px;}}
@media only screen and (max-width: 599px) and (min-width:570px) { html, body{ font-size: 16.1989px; }.viewport{max-width: 599px;}}
@media only screen and (max-width: 569px) and (min-width:540px) { html, body{ font-size: 15.3876px; }.viewport{max-width: 569px;}}
@media only screen and (max-width: 539px) and (min-width:510px) { html, body{ font-size: 14.5763px; }.viewport{max-width: 539px;}}
@media only screen and (max-width: 509px) and (min-width:480px) { html, body{ font-size: 13.7650px; }.viewport{max-width: 509px;}}
@media only screen and (max-width: 479px) and (min-width:450px) { html, body{ font-size: 12.9537px; }.viewport{max-width: 479px;}}
@media only screen and (max-width: 449px) and (min-width:420px) { html, body{ font-size: 12.1424px; }.viewport{max-width: 449px;}}
@media only screen and (max-width: 419px) and (min-width:390px) { html, body{ font-size: 11.3311px; }.viewport{max-width: 419px;}}
@media only screen and (max-width: 389px) and (min-width:360px) { html, body{ font-size: 10.5189px; }.viewport{max-width: 389px;}}
@media only screen and (max-width: 359px) and (min-width:330px) { html, body{ font-size: 9.7067px; }.viewport{max-width: 359px;}}
@media only screen and (max-width: 329px) and (min-width:250px) { html, body{ font-size: 8.8955px; }.viewport{min-width: 320px;}}
*/

/*index tab start*/
.tab_container {
    font-size: 2.5rem;
    overflow: hidden;
}
.tab_header {
    background-color: #F4F4F4;
    height: 6rem;
    line-height: 5.8rem;
}
.tab_header li {
    float: left;
    text-align: center;
}
.tab_header li a.active {
    border-bottom: 3px solid #EC6A4B;
    color: #E27660;
}
.tab_header a {
    display: block;
    /*-webkit-transition: all .2s linear;*/
}
.tab_content {
    width: 100%;
}
.tab_content ul {
    /*-webkit-transition: margin-left 0.2s linear;*/
}
.tab_content li {
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
/*index tab end*/

/*tab cate start*/
.cate_list {
    background-color: #EDECE8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 0.1rem solid #EDECE8;
}
.cate_list div {
    width: 49.9%;
    box-sizing: border-box;
    height: 7rem;
    line-height: 7rem;
    background-color: #fff;
    margin-top: 0.1rem;
}
.cate_list a {
    display: block;
}
.cate_list a img {
    width: 3.5rem;
    margin-left: 4rem;
    margin-right: 1rem;
    vertical-align: middle;
}
/*tab cate end*/

/*tab rank start*/
.l_fixed_list {
    background-color: #fff;
    border-bottom: 2rem solid #EDECE8;
}
.l_fixed_title {
    margin-top: 2rem;
    padding-left: 2.5rem;
}
.l_fixed_cover {
    position: relative;
    float: left;
    width: 10rem;
    height: 12rem;
    margin-left: 2.5rem;
}
.l_fixed_cover img {
    width: 100%;
    margin-top: 1.8rem;
}
.l_fixed_cover.radius img {
    border-radius: 50%;
}
.l_fixed_cover.track:after {
      position: absolute;
      content: '';
      background: url(../img/play_cover.png) no-repeat;
      background-size: 100%;
      background-position: center bottom;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
}
.l_fixed_desc {
    margin-left: 12.5rem;
    padding-left: 2rem;
    height: 13.5rem;
    border-bottom: 1px solid #EDECE8;
    overflow: hidden;
}
.l_fixed_desc h2 {
    margin-top: 1.7rem;
    font-size: 2.6rem;
    line-height: 1.2;
    height: 3.12rem;
    overflow: hidden;
}
.l_fixed_desc h2.dbh2 {
    height: 6.24rem;
    margin-bottom: 1rem;
}
.l_fixed_desc p {
    line-height: 3.5rem;
    height: 3.5rem;
    overflow: hidden;
    padding-right: 1rem;
    letter-spacing: 0.1rem;
    color: #969696;
}
.singer_item {
    padding: 1rem 0;
}
/*tab rank end*/
/*anchor start*/
.three_box_list,
.bottom_gray_box {
    border-bottom: 2rem solid #EDECE8;
    padding-bottom: 2rem;
}
.three_box {
    display: flex;
    flex-wrap: wrap;
    padding-left: 3.3%;
}
.three_box_header {
    padding: 0 4%;
    margin-top: 2.3rem;
}
.three_box_header h2 {
    float: left;
}
.three_box_header span {
    float: right;
    color: #9F9F9F;
    font-style: italic;
}
.three_box_item {
    width: 30%;
    margin-right: 3.3%;
    margin-top: 2.5rem;
}
.three_box_item >div {
    background-color: #fff;
    margin: 0 auto;
    text-align: center;
    color: #BDA995;
    box-shadow: 0 0 2rem 0.1rem rgba(0,0,0,0.2);
}
.three_box_item img {
    display: block;
    width: 100%;
    height: 20rem;
}
.three_box_info {
    line-height: 5rem;
    height: 5rem;
    overflow: hidden;
}
.three_box_item >p {
    line-height: 3rem;
    margin-top: 0.5rem;
    color: #9F9F9F;
    max-height: 6rem;
    overflow: hidden;
}
/*anchor end*/
.loading {
    text-align: center;
    margin-top: 2rem;
}
.loaded {
    text-align: center;
    color: #999;
}
/*弹出遮罩 start*/
.mask {
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    padding-top: 6rem;
    overflow: auto;
    box-sizing: border-box;
    z-index: 9;
    background-color: #fff;
}

.mask .head {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    text-align: center;
    border-bottom: 1px solid #eee;
    background: -webkit-linear-gradient(top, #fff 0%, #eee 100%);
}

.mask .head .title {
    overflow-x: auto;
    overflow-y: hidden;
    height: 100%;
    padding: 0 5rem;
    box-sizing: border-box;
}

.close_btn {
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    right: 1.5rem;
    top: 50%;
    outline: none;
    border: 1px solid #eee;
    background: -webkit-linear-gradient(bottom, #00BFFF 0%, #0BDED7 100%);
    color: #fff;
    font-size: 1.5rem;
    -webkit-transform: translateY(-50%);
}

.content_box_wrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
/*弹出遮罩 end*/
/*分类中子分类 start*/
.subcates_placeholder {
    height: 6rem;
}
.subcates {
    position: fixed;
    z-index: 10;
    top: 6rem;
    left: 0;
    width: 100%;
    height: 6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    text-align: center;
    overflow: hidden;
    border-bottom: 0.1rem solid #eee;
}
.subcates ul {
    background-color: #fff;
}
.subcates li {
    float: left;
    width: 20%;
}
.subcates li.active {
    font-weight: bold;
    font-style: italic;
}
.subcates li a {
    display: block;
}
.subcates_switch_btn a {
    color: #0BDED7;
}
/*分类中子分类 end*/

/*主播主页 start*/
.anchor_index_box {
    font-size: 2.5rem;
}
.anchor_index_banner {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 37rem;
    padding-left: 2rem;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    /*background-image: url(http://fdfs.xmcdn.com/group21/M05/6A/3E/wKgJLVh1KQPCRU05AAK4JTj5zPc807_mobile_x_large.jpg);*/
    overflow: hidden;
    color: #fff;
    font-size: 2.3rem;
}
.anchor_index_banner:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 0;
}
.anchor_index_banner_c {
    position: absolute;
}
.anchor_index_nickname {
    font-size: 4rem;
    margin-top: 18rem;
}
.anchor_index_banner p {
    margin-top: 1rem;
}
.anchor_index_intro {
    font-size: 2.5rem;
    padding: 1rem 2rem 2rem;
}
.anchor_index_intro_title {
    font-size: 3rem;
    margin: 1rem 0;
}
.anchor_index_intro p {
    margin-top: 1rem;
}
/*主播主页 end*/